body {
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

#close {
    position: fixed;
    top: 10px;
    font-size: 1rem;
    width: 96vw;
    cursor: pointer;
    text-align: right;
}

#version {
    position: fixed;
    bottom: 7px;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: green;
    font-size: 1.1rem;

}

a {
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

#close:hover {
    text-decoration: underline;
}